/* Styling for h2 elements */
h2 {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

/* Styling for elements with the "para" class */
.para {
    margin-bottom: 30px;
}

/* Styling for links with the "prop-link" class */
.prop-link {
    text-decoration: underline !important;
    color: #9f5500 !important;
}

/* Styling for the "card-body" class */
.card-body {
    background-color: #d4edfc;
}

/* Styling for buttons with the "prop-buttons" class */
.prop-buttons {
    width: fit-content !important;
    background-color: #e48111 !important;
    border: none !important;
    color: black !important;
}

/* Styling for buttons with the "prop-buttons" class when hovered */
.prop-buttons:hover {
    background-color: #f0a44d !important;
}

/* Styling for buttons with the "prop-buttons" class when clicked */
.prop-buttons:active {
    background-color: #f3b46d !important;
}

/* Styling for buttons with the "closeBtn" class */
.closeBtn {
    width: fit-content !important;
}
